header {
  padding: 6rem 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f4f5f6;
}
.content {
  padding: 6rem 15px;
}
.logo {
  margin-bottom: 4rem;
}
